# Auto detect text files and perform LF normalization
* text=auto
# misc
**/.DS_Store
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.mp4 filter=lfs diff=lfs merge=lfs -text
